<div style="width: 100%; background-color: aqua;">
    <% if (specs && specs.env.value == 'DEV') { %>
    Puerto: <%= specs.puerto.value %> | Modo: <%= specs.modo.value %> | Id de proceso: <%= specs.idProceso.value %>
    <% } %>
</div>