<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head')  %>  
</head>
<body>
    <header>
        <%- include('../partials/header')  %>  
    </header>

    <main>
        <!-- aqui va nuestro contenido dinamico -->
        <div class="container">
                <h1>What is EJS?</h1>
                <p>What is the "E" for? "Embedded?" Could be. How about "Effective," "Elegant," or just "Easy"? EJS is a simple templating language that lets you generate HTML markup with plain JavaScript. No religiousness about how to organize things. No reinvention of iteration and control-flow. It's just plain JavaScript.</p>
        </div>


    </main>
    

    <footer>
        <%- include('../partials/footer')  %>  
    </footer>
</body>
</html>